@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="https://i.etsystatic.com/14951240/r/il/6b7a35/3536263578/il_794xN.3536263578_8ry6.jpg" alt="john cena" style="width: 100px; height: 100px;">
</div>
